{% load static %}
{% block links %}    
    
    <head>        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/bootstrap/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{%static 'css/main.css'%}">
        <link rel="stylesheet" href="{%static 'css/submenu.css'%}">
        <script src="{%static 'js/jquery.min.js'%}"></script>
        <script src="{%static 'js/bootstrap/bootstrap.js'%}"></script>
        
        <link rel="icon" href="{%static 'images/logo-cuted.png'%}">
        
        {% block styles %}

        {% endblock %}
    </head>
{% endblock %}

{% block body%}
    <body style='overflow-x:hidden;'>
        <div class="mobile-header-menu" id="mobile-header-menu">
            <div class="mobile-header">
                <div class="container">
                    <div class="row">
                        <div class="col-2" style="text-align: center;">
                            <img id="close-menu" src="{%static 'images/icons/header-menu.png'%}" alt=""class="mobile-header-menu-icon rotate">
                        </div>
                        <div class="col-7">
                            
                        </div>
                        <div class="col-3 mobile-header-balance" >
                            1999тг
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="mobile-header-menu-wrap">
                <div class="mobile-header-menu-block">
                    {% if not user %}
                        <a href="{% url 'main:login'%}" class="mobile-header-menu-a {% block login_register_mobile%}{%endblock%}">Регистрация/Вход</a>
                    {% else %}
                        <a href="{% url 'main:profile'%}" class="mobile-header-menu-a {% block profile_mobile%}{%endblock%}">Профиль</a>
                    {% endif %}
                </div>
                <div class="mobile-header-menu-block">
                    <a href="" class="mobile-header-menu-a {% block catalog_mobile%}{%endblock%}">Каталог</a>
                </div>
                <div class="mobile-header-menu-block">
                    <a href="{% url 'main:shares'%}" class="mobile-header-menu-a {% block shares_mobile%}{%endblock%}">Акции</a>
                </div>
                <div class="mobile-header-menu-block">
                    <a href="{% url 'main:about' %}" class="mobile-header-menu-a {% block about_us_mobile%}{%endblock%}">О Нас</a>
                </div>
                <div class="mobile-header-menu-block">
                    <a href="{% url 'main:contacts' %}" class="mobile-header-menu-a {% block contacts_mobile%}{%endblock%}">Контакты</a>
                </div>
                <div class="mobile-header-menu-block">
                    <a href="{% url 'main:support' %}" class="mobile-header-menu-a {% block help_mobile%}{%endblock%}">Помощь</a>
                </div>
                {% if not request.session.role %}
                    <div class="mobile-header-menu-block">
                        <a href="{% url 'main:login' %}" class="mobile-header-menu-a">Войти</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="wrap">
            <!--header для каждой странички-->
            {% block header %}
                
            
                <div class="header hide-on-mobile">
                    <div class="row">
                        <div class="header-element col-md-4 col-sm-4">
                            +0 (000) 000 00 00
                        </div>
                        <div class="header-title col-md-4 col-sm-4" style="position: relative;z-index:0">
                            <span style="position: relative;">
                                LOVELINESS COSMETICS
                                <img src="{%static 'images/flowers/flower2.png'%}" alt="" class="title-flower-left">
                                <img src="{%static 'images/flowers/flower2.png'%}" alt="" class="title-flower-right">
                            </span>
                            
                        </div>
                        <div class="icons-block col-md-4 col-sm-4">
                            <div class="header-icon" id="search-icon" style="background-image:url('{%static "images/icons/search.svg" %}')">
                                <input id="search" type="text" class="search-input" placeholder="Поиск">
                            </div>
                            {% if user %}
                                <a href="{% url 'main:cart' %}">
                                    <div class="header-icon" id="basket-icon" style="background-image:url('{%static "images/icons/basket.svg" %}')">
                                        <span class="basket-text">
                                            {{user.balance}}тг
                                        </span>
                                        <div class="basket-count">
                                            {{bag.products.all|length}}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                            {% if user %}    
                                <a href="{%url 'main:profile'%}">
                                    <div class="header-icon" id="profile-icon" style="border:none">
                                        <div class="profile-icon" style="background-image:url('{{user.img_url}}'); background-color: lightgray; border:none;float: right; background-size: 70%;">
                                        </div>
                                        <span class="logout-text">
                                                Профиль
                                        </span>
                                    </div>  
                                </a>                                        
                                                              
                            {% else %}
                                <a href="{% url 'main:login'%}">
                                    <div class="header-icon" id="login-icon" style="background-image:url('{%static "images/icons/logout.svg" %}')">
                                        <span class="logout-text">
                                                Вход
                                        </span>
                                    </div>
                                </a>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="menu hide-on-mobile">
                    <div class="center-menu">
                        
                            <nav class="menu-block" style="padding-top:7px !important">
                                <ul class="topmenu">
                                    <li><a  class="active submenu-text {%block catalog%}{%endblock%}">Каталог</a>
                                        <ul class="submenu">                                    
                                            <li>
                                                <a href="{% url 'main:categories' %}" class="submenu-link">Категории</a>
                                                <div class="submenu submenu-table">
                                                    <table class="">
                                                        <tr>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                            <td><a href="{%url 'main:category' 1%}">Манекюр</a></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                
                                                    <!-- <ul class="submenu submenu-first together">
                                                        <li><a href="">Я</a></li>
                                                        <li><a href="">Сосааал</a></li>
                                                        <li><a href="">Кому?</a></li>
                                                        <li><a href="">Я</a></li>
                                                        <li><a href="">Сосааал</a></li>
                                                        <li><a href="">Кому?</a></li>
                                                        <li><a href="">Я</a></li>                                                    
                                                    </ul>
                                                    <ul class="submenu submenu-second together">
                                                        <li><a href="">Я</a></li>
                                                        <li><a href="">Сосааал</a></li>
                                                        <li><a href="">Кому?</a></li>
                                                        <li><a href="">Я</a></li>
                                                        <li><a href="">Сосааал</a></li>
                                                        <li><a href="">Кому?</a></li>
                                                        <li><a href="">Я</a></li>                                                                                                    
                                                    </ul> -->
                                                
                                                
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        <a href="{% url 'main:shares'%}">
                            <div class="menu-block {%block shares%}{%endblock%}">
                                Акции
                            </div>
                        </a>
                        <a href="{% url 'main:about' %}">
                            <div class="menu-block {%block about_us%}{%endblock%}">
                                О нас
                            </div>
                        </a>
                        <a href="{% url 'main:contacts' %}">
                            <div class="menu-block {%block contacts%}{%endblock%}">
                                Контакты
                            </div>
                        </a>
                        <a href="{% url 'main:support' %}">
                            <div class="menu-block {%block help%}{%endblock%}">
                                Помощь
                            </div>
                        </a>
                    </div>
                </div>

                <div class="mobile-header">
                    <div class="container">
                        <div class="row" >
                            <div class="col-2" style="text-align: center;">
                                <img id="open-menu" src="{%static 'images/icons/header-menu.png'%}" alt=""class="mobile-header-menu-icon" style="transform: rotate(-90deg);">
                            </div>
                            <div class="col-8" style="text-align: center;">
                                <span class="header-title">LOVELINESS COSMETICS</span>
                            </div>
                            {% if user %}
                                <div class="col-2" >
                                    <form action="{% url 'main:logout'%}" method="POST">{% csrf_token %}
                                        <div id="logout-icon" onclick="logout()" class="mobile-header-right-icon" style="background-image:url('{%static "images/icons/logout.svg" %}')"></div>
                                        <button style="visibility:hidden" type="submit" id="logout"></button>
                                    </form>
                                </div>
                            {%endif%}
                            
                        </div>
                    </div>
                </div>
            {% endblock %}
            <!--header для каждой странички-->
            
            <!--уведомление-->
            {% block notification%}
                    
            {% endblock %}
            <!--уведомление-->

            <!--содержимое для каждой странички-->

            <!-- Алиби меня эти цветы в край заебали, чуть ноут не разбил, поэтому пока закоментировал их -->
            
                          
                            <!--содержимое для каждой странички-->
                            <!-- <div class="info">
                                <div class="pic1 mobile-none">
                                    <img src="{% static 'images/flowers/leaf branch 1.png' %}" alt="">
                                </div>
            
                                <div class="pic2 mobile-none">
                                    <img src="{% static 'images/flowers/branch2 1.png' %}" alt="">
                                </div>
            
                                <div class="pic4 mobile-none">
                                    <img src="{% static 'images/flowers/6 1.png' %}" alt="">
                                </div>
            
                                <div class="pic5 mobile-none">
                                    <img src="{% static 'images/flowers/branch 1.png' %}" alt="">
                                </div>
                            </div>   -->
                
                {% block content%}
                {%endblock%}
        </div>
                
    </body>
{% endblock %}

{% block footer %}

    <!-- Место для футера -->
        <div class="footer">
            <div class="footer-wrap">
                <div class="row footer-row">
                    <div class="col-md-5 col-sm-12 inline">
                        <div class="column">
                            <div class="footer-element">
                                <span class="header-title">LOVELINESS COSMETICS</span>
                            </div>
                            <div class="footer-element">
                                <a href="" class="footer-text">+0 (000) 000 00 00</a>
                            </div>
                            <div class="footer-element">
                                <a href="" class="footer-text" style="text-decoration: underline;">info@mail.ru</a>
                            </div>
                            <div class="footer-element" style="margin-bottom: 55px;">
                                <a href=""><img src="{%static 'images/icons/instagram.svg'%}" alt="" class="footer-inst"></a>
                            </div>
                            <div class="footer-element under-footer-element" >
                                <a href="" class="footer-text">Политика Конфиденциальности</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 hide-on-mobile inline">
                        <div class="column">
                            <div class="footer-element">
                                <span class="header-title" style="font-weight:500;">Меню</span>
                            </div>
                            <div class="footer-element">
                                <a class="footer-text" href="">Каталог</a>
                            </div>
                            <div class="footer-element">
                                <a class="footer-text" href="{%url 'main:shares'%}">Акции</a>
                            </div>
                            <div class="footer-element">
                                <a class="footer-text" href="{%url 'main:about'%}">О Нас</a>
                            </div>
                            <div class="footer-element" >
                                <a class="footer-text" href="{%url 'main:support'%}">Помощь</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12 hide-on-mobile inline">
                        <div class="column">
                            <div class="footer-element">
                                <span class="header-title" style="font-weight:500;">Каталог</span>
                            </div>
                            <div class="footer-element">
                                <a href="" class="footer-text">lorem input</a>
                            </div>
                            <div class="footer-element">
                                <a href="" class="footer-text">lorem input</a>
                            </div>
                            <div class="footer-element">
                                <a href="" class="footer-text">lorem input</a>
                            </div>
                            <div class="footer-element" >
                                <a href="" class="footer-text">lorem input</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 inline">
                        <div class="column">
                            <div class="footer-element hide-on-mobile">
                                <span class="header-title" style="font-weight:500;">Личный Кабинет</span>
                            </div>
                            <div class="footer-element hide-on-mobile">
                                <a href="" class="footer-text">Вход/Регистрация</a>
                            </div>
                            <div class="footer-element hide-on-mobile">
                                <a href="" class="footer-text">Корзина</a>
                            </div>
                            <div class="footer-element hide-on-mobile">
                                <a href="" class="footer-text">Баланс</a>
                            </div>
                            <div class="footer-element under-footer-element" style="margin-top: 26px;">
                                    <div class="footer-payment">
                                        <img src="{%static 'images/mastercard.png'%}" alt="" class="footer-payment-image">
                                    </div>
                                    <div class="footer-payment">
                                        <img src="{%static 'images/visa.png'%}" alt="" class="footer-payment-image">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Место для футера -->

    <style type="text/css">
        #hellopreloader>p {
        display: none;
        }

        #hellopreloader_preload {
        display: block;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-width: 100px;
        background: white url({%static 'gif/preloader.gif'%}) center center no-repeat;
        background-size: 50%;
        }
    </style>
    <div id="hellopreloader">
        <div id="hellopreloader_preload"></div>
    </div>
    <script type="text/javascript">
        var hellopreloader = document.getElementById("hellopreloader_preload");

        function fadeOutnojquery(el) {
        el.style.opacity = 1;
        var interhellopreloader = setInterval(function () {
            el.style.opacity = el.style.opacity - 0.05;
            if (el.style.opacity <= 0.05) {
            clearInterval(interhellopreloader);
            hellopreloader.style.display = "none";
            document.getElementsByTagName("html")[0].style.overflow = "";
            }
        }, 16);
        }
        window.onload = function () {


        setTimeout(function () {
            fadeOutnojquery(hellopreloader);
        }, 100);
        };

    </script>
    <script>
        function logout(){
            $("#logout").click()
        }
    </script>
    <script src="{%static 'js/header.js'%}"></script>
    
{% endblock %}