{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Корзина</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/support.css' %}">
    <link rel="stylesheet" href="{% static 'css/popular-block.css' %}">
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}


{% block content %}
    <style>
        .title-block {
            background-image: url( {% static 'images/title-block-background-1.png' %});
        }

        .item-pc-version{
            position: relative;
        }

        .delete-button{
            position: absolute;
            right: 0;
            width: 15px;
            height: 15px;
            padding-right: 7vw;
            cursor: pointer;
        }

        .icon{
            background-image: url("{% static 'images/icons/close.svg' %}");
            background-size: cover;
            background-repeat: repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            margin-top: 10px;
            margin-left: 13px;
        }
    </style>
    <div class="wrap-content">

        <div class="hide-on-mobile">
            <br>
        </div>
        
        <div>
            <div class="title">Корзина</div>
            <div class="top-block">
                <br>
                <div class="route">
                    Вернуться к покупкам
                </div>
            </div>
        </div>

        <br><br>

        <div class="cart-content">
            <div class="items-block">
                <div class="definition-text">
                    Товары
                </div>

                <br>

                {% for item in bag.products.all %}

                    <div id="product{{ item.id }}.1" class="item-mobile-version hide-on-pc">
                        <div class="item-mobile-version-image">
                            {% with item.product.images.all|first as image %}
                                <img src="{{image.img_url}}" alt="">
                            {% endwith %}
                        </div>
                        <div class="delete-button">
                            <form action="{% url 'main:delete_product_from_bag'%}" method="POST">
                                <div class="icon" onclick="delete_product({{item.id}}, {{ item.count }}, '{{ csrf_token }}')"></div>
                            </form>
                        </div>
                        <div class="item-mobile-version-volume-amount-block">
                            <div class="item-price">{{ item.product.price }}</div>
                            <br>
                            <div class="amount">
                                <button onclick="delete_one_product({{ item.product.id }}, '{{ csrf_token }}')">-</button>
                                <span id="count{{ item.product.id }}.1">{{ item.count }}</span>
                                <button onclick="add({{ item.product.id }}, '{{ csrf_token }}')">+</button>
                            </div>
                            <br><br>
                            <div class="item-text volume"><b>10мл</b></div>
                        </div>
                        <div class="item-mobile-version-description">
                            <br>
                            <div class="item-title">{{ item.product.name }}</div>
                            <br>
                            <div class="item-text">{{ item.product.description }}</div>
                        </div>
                    </div>

                    <div class="hide-on-pc">
                        <br>
                        <hr>
                        <br>
                    </div>

                    <div id="product{{ item.id }}.2" class="item-pc-version hide-on-mobile">
                        <div class="item-pc-version-image">
                            {% with item.product.images.all|first as image %}
                                <img src="{{image.img_url}}" alt="">
                            {% endwith %}
                        </div>
                        <div class="delete-button">
                            <form action="{% url 'main:delete_product_from_bag'%}" method="POST">
                                <div class="icon" onclick="delete_product({{item.id}}, {{ item.count }}, '{{ csrf_token }}')"></div>
                            </form>
                        </div>
                        <div class="item-pc-version-description">
                            <div class="item-title">{{ item.product.name }}</div>
                            <br>
                            <div class="item-text">{{item.product.description|slice:"0:60"}}..</div>
                            <br>
                            <div class="volume-amount-block">
                                <div class="item-text volume"><b>10мл</b></div>
                                <div class="amount">
                                    <button onclick="delete_one_product({{ item.product.id }}, '{{ csrf_token }}')">-</button>
                                    <span id="count{{ item.product.id }}.2">{{ item.count }}</span>
                                    <button onclick="add({{ item.product.id }}, {{ item.product.price }}, '{{ csrf_token }}')">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="item-pc-version-price">
                            <div class="item-price">{{ item.product.price }}</div>
                        </div>
                    </div>

                    

                    <script>
                        $("#count{{ item.product.id }}.1").text({{ item.count }});
                        $("#count{{ item.product.id }}.2").text({{ item.count }});
                    </script>

                {% endfor %}
            </div>

            <div class="inputs-block">
                <div class="definition-text">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <p id="pickupText" onclick="pickupTextClick()" style="cursor: pointer">САМОВЫВОЗ</p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <p id="deliveryText" onclick="deliveryTextClick()" style="cursor: pointer">ДОСТАВКА</p>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" placeholder="Имя и Фамилия" name="fullName">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" placeholder="Телефон" name="phone">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12"
                         style="font-family: Montserrat-Regular; font-size: 16px; padding-top: 1.5%;">
                        <input type="checkbox" name="follow" style="width: auto;"> Следить за нами
                    </div>
                </div>

                <div id="delivery-inputs" hidden>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="text" placeholder="Регион" name="region">
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="text" placeholder="Город" name="city">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="text" placeholder="Улица" name="street">
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="text" placeholder="Дом" name="buildingNum">
                        </div>
                    </div>
                </div>

                <br><br>

                <div class="total-order-block">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center">

                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center">
                            <div class="total-price">Итого: <b id="total-price">{{ bag.sum_of_products }}</b>тг</div>
                            <div class="order-button">
                                <button onclick="buy({{ bag.sum_of_products }})">Оплатить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <script>
        let deliveryChecked = false;
        let deliveryInputs = document.getElementById('delivery-inputs');

        document.getElementById("deliveryText").style.color = "grey";

        function check() {
            deliveryInputs.hidden = !deliveryChecked;
        }

        function pickupTextClick() {
            deliveryChecked = false;
            document.getElementById("pickupText").style.color = "black";
            document.getElementById("deliveryText").style.color = "grey";
            check();
        }

        function deliveryTextClick() {
            deliveryChecked = true;
            document.getElementById("pickupText").style.color = "grey";
            document.getElementById("deliveryText").style.color = "black";
            check();
        }
    </script>
{% endblock %}

{%block flowers%}
    <div class="pic1 mobile-none" style="left: 0;top: 6vh;width: 300px;height: 600px;;">
        <img src="{% static 'images/flowers/leaf branch 1.png' %}" class="back-image" alt="">
    </div>

    <div class="pic2 mobile-none" style="right: -1px;top: 48vh;">
        <img src="{% static 'images/flowers/branch2 1.png' %}" class="back-image" alt="">
    </div>

    <div class="pic4 mobile-none" style="left: 0;top: 105vh;">
        <img src="{% static 'images/flowers/6 1.png' %}" class="back-image" alt="">
    </div>

   
    
{%endblock%}