{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Корзина</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/support.css' %}">
    <link rel="stylesheet" href="{% static 'css/popular-block.css' %}">
{% endblock %}


{% block content %}
    <style>
        .title-block{
            background-image: url( {% static 'images/title-block-background-1.png' %});
        }
    </style>
    <div class="wrap-content">

        <div class="hide-on-mobile">
            <br>
        </div>


        <div>
            <div class="title">Корзина</div>
            <br>
            <div class="top-block">
                <div class="route">
                    Вернуться к покупкам
                </div>
            </div>
        </div>

        <br><br>

        <div class="cart-content">
            <div class="items-block">
                <div class="definition-text">
                    Товары
                </div>

                <br>

                <div class="item-mobile-version hide-on-pc">
                    <div class="item-mobile-version-image">
                        <img src="{%static 'images/talking.jpg'%}" alt="">
                    </div>
                    <div class="item-mobile-version-volume-amount-block">
                        <div class="item-price">2999тг</div>
                        <br>
                        <div class="amount">
                            <button>-</button>
                            1
                            <button>+</button>
                        </div>
                        <br><br>
                        <div class="item-text volume"><b>10мл</b></div>
                    </div>
                    <div class="item-mobile-version-description">
                        <br>
                        <div class="item-title">Lorem Ipsum</div>
                        <br>
                        <div class="item-text">
                            Lorem Ipsum is simply dummy
                            Lorem Ipsum is simply dummy text
                            Lorem Ipsum is simply dummy
                            Lorem Ipsum is simply dummy text
                        </div>
                    </div>
                </div>

                <div class="hide-on-pc">
                    <br>
                    <hr>
                    <br>
                </div>

                <div class="item-mobile-version hide-on-pc">
                    <div class="item-mobile-version-image">
                        <img src="{%static 'images/talking.jpg'%}" alt="">
                    </div>
                    <div class="item-mobile-version-volume-amount-block">
                        <div class="item-price">2999тг</div>
                        <br>
                        <div class="amount">
                            <button>-</button>
                            1
                            <button>+</button>
                        </div>
                        <br><br>
                        <div class="item-text volume"><b>10мл</b></div>
                    </div>
                    <div class="item-mobile-version-description">
                        <br>
                        <div class="item-title">Lorem Ipsum</div>
                        <br>
                        <div class="item-text">
                            Lorem Ipsum is simply dummy
                            Lorem Ipsum is simply dummy text
                            Lorem Ipsum is simply dummy
                            Lorem Ipsum is simply dummy text
                        </div>
                    </div>
                </div>

                <div class="hide-on-pc">
                    <br>
                    <hr>
                    <br>
                </div>


    {#            -------------------------------------------#}

                <div class="item-pc-version hide-on-mobile">
                    <div class="item-pc-version-image">
                        <img src="{%static 'images/talking.jpg'%}" alt="">
                    </div>
                    <div class="item-pc-version-description">
                        <div class="item-title">Lorem Ipsum</div>
                        <br>
                        <div class="item-text">
                            Lorem Ipsum is simply dummy
                            Lorem Ipsum is simply dummy text
                            Lorem Ipsum is simply dummy
                            Lorem Ipsum is simply dummy text
                        </div>
                        <br>
                        <div class="volume-amount-block">
                            <div class="item-text volume"><b>10мл</b></div>
                            <div class="amount">
                                <button onclick="remove()">-</button>
                                <span id="count">1</span>
                                <button onclick="add()">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="item-pc-version-price">
                        <div class="item-price">2999тг</div>
                    </div>
                </div>

                <br><br>

                <div class="item-pc-version hide-on-mobile">
                    <div class="item-pc-version-image">
                        <img src="{%static 'images/talking.jpg'%}" alt="">
                    </div>
                    <div class="item-pc-version-description">
                        <div class="item-title">Lorem Ipsum</div>
                        <br>
                        <div class="item-text">
                            Lorem Ipsum is simply dummy
                            Lorem Ipsum is simply dummy text
                            Lorem Ipsum is simply dummy
                            Lorem Ipsum is simply dummy text
                        </div>
                        <br>
                        <div class="volume-amount-block">
                            <div class="item-text volume"><b>10мл</b></div>
                            <div class="amount">
                                <button>-</button>
                                1
                                <button>+</button>
                            </div>
                        </div>
                    </div>
                    <div class="item-pc-version-price">
                        <div class="item-price">2999тг</div>
                    </div>
                </div>
            </div>

            <div class="inputs-block">
                <div class="definition-text">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <p id="pickupText" onclick="pickupTextClick()" style="cursor: pointer">САМОВЫВОЗ</p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <p id="deliveryText" onclick="deliveryTextClick()" style="cursor: pointer">ДОСТАВКА</p>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" placeholder="Имя и Фамилия" name="fullName">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" placeholder="Телефон" name="phone">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <input type="text" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12"
                    style="font-family: Montserrat-Regular; font-size: 16px; padding-top: 1.5%;">
                        <input type="checkbox" name="follow" style="width: auto;"> Следить за нами
                    </div>
                </div>

                <div id="delivery-inputs" hidden>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="text" placeholder="Регион" name="region">
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="text" placeholder="Город" name="city">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="text" placeholder="Улица" name="street">
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="text" placeholder="Дом" name="buildingNum">
                        </div>
                    </div>
                </div>

                <br><br>

                <div class="total-order-block">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center">

                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12" style="text-align: center">
                            <div class="total-price">Итого: 2999тг</div>
                            <div class="order-button">
                                <button>Оплатить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <script>
        let deliveryChecked = false;
        let deliveryInputs = document.getElementById('delivery-inputs');

        document.getElementById("deliveryText").style.color = "grey";

        function check(){
            deliveryInputs.hidden = !deliveryChecked;
        }

        function pickupTextClick(){
            deliveryChecked = false;
            document.getElementById("pickupText").style.color = "black";
            document.getElementById("deliveryText").style.color = "grey";
            check();
        }

        function deliveryTextClick(){
            deliveryChecked = true;
            document.getElementById("pickupText").style.color = "grey";
            document.getElementById("deliveryText").style.color = "black";
            check();
        }

        function remove(product_id){
            var count = parseInt($("#count" + product_id).text()); 
            if(count > 1){
                $("#count" + product_id).text(--count);
            }
            
        }

        function add(product_id){
            var count = parseInt($("#count" + product_id).text()); 
            if(count < 999){
                $("#count" product_id).text(++count);
            }
        }
    </script>
{% endblock %}