{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Категории</title>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{%block catalog%}active-menu{%endblock%}
{%block catalog_mobile%}active-menu{%endblock%}

{% block content %}
    <style>
        .title-block{
            background-image: url( {% static 'images/title-block-background-1.png' %});
        }
    </style>

    <div class="wrap-content">
        <br><br>

        <div class="title-block">
            <div class="title-block-text">Категории</div>
        </div>

        <br><br>

        <div class="route">
            Главная / Контакты
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="category-item">
                    <div class="category-item-text">Lorem Ipsum</div>
                </div>
            </div>
             <div class="col-md-6 col-sm-12">
                <div class="category-item">
                    <div class="category-item-text">Lorem Ipsum</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="category-item">
                    <div class="category-item-text">Lorem Ipsum</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="category-item">
                    <div class="category-item-text">Lorem Ipsum</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="category-item">
                    <div class="category-item-text">Lorem Ipsum</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="category-item">
                    <div class="category-item-text">Lorem Ipsum</div>
                </div>
            </div>
             <div class="col-md-6 col-sm-12">
                <div class="category-item">
                    <div class="category-item-text">Lorem Ipsum</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="category-item">
                    <div class="category-item-text">Lorem Ipsum</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="category-item">
                    <div class="category-item-text">Lorem Ipsum</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="category-item">
                    <div class="category-item-text">Lorem Ipsum</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mgt-60"></div>
{% endblock %}