{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Категории</title>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{%block catalog%}active-menu{%endblock%}
{%block catalog_mobile%}active-menu{%endblock%}

{% block content %}
    <style>
        .title-block{
            background-image: url( {% static 'images/title-block-background-1.png' %});
        }
    </style>

    <div class="wrap-content">
        <br><br>

        <div class="title-block">
            <div class="title-block-text">Категории</div>
        </div>

        <br><br>

        <div class="route">
            <a href="{%url 'main:index'%}">Главная</a> / Категории
        </div>

        <br><br>
        
        <div class="row">
            {%for category in all_categories %}
                <div class="col-md-3 col-sm-12" style="margin-bottom: 40px;">
                    <div style="box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);">
                        <div class="category-item" style="background-image: url('{{category.img_url}}')"></div>
                        <div class="category-item-text">{{category.name}}</div>
                    </div>                    
                </div>
            {%endfor%}
        </div>
    </div>

    <div class="row mgt-60"></div>
{% endblock %}