{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Категории</title>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/popular-block.css' %}">
{% endblock %}

{%block catalog%}active-menu{%endblock%}
{%block catalog_mobile%}active-menu{%endblock%}

{% block content %}
    <style>
        .title-block{
            background-image: url( {% static 'images/title-block-background-1.png' %});
        }
    </style>

    <div class="wrap-content">
        <br><br>

        <div class="title-block">
            <div class="title-block-text">Манекюр</div>
        </div>

        <br><br>

        <div class="top-block">
            <div class="route">
                Главная / Категории / Манекюр
            </div>

            <div class="filter-block">
                <select name="price">
                    <option value="all">Цена</option>
                    <option value="cheaper">Дешевле</option>
                    <option value="богатый_уёбок">Дороже</option>
                </select>
                <select name="brand">
                    <option value="all">Бренд</option>
                    <option value="1">Помада</option>
                    <option value="2">Крем</option>
                </select>
            </div>
        </div>

        <div class="comments" style="margin-bottom: 40px; margin-top: 60px;">
            <div class="popular-wrap">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <a href="">
                            <div class="popular-block">
                                <div class="popular-image-block">
                                    <img src="{%static 'images/talking.jpg'%}" alt="" class="popular-image">
                                    <a href="#">
                                        <div class="popular-icon"></div>
                                    </a>
                                </div>
                                
                                <div class="popular-under-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="popular-title">Lorem Ipsum</div>
                                            <div class="popular-price">2999тг</div>
                                        </div>
                                    </div>
                                    
                                    <div class="popular-text">Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy text </div>
                                </div>
                                
                            </div>
                        </a>
                    </div>
    
                    <div class="col-md-4 col-12">
                        <a href="">
                            <div class="popular-block">
                                <div class="popular-image-block">
                                    <img src="{%static 'images/talking.jpg'%}" alt="" class="popular-image">
                                    <a href="#">
                                        <div class="popular-icon"></div>
                                    </a>
                                </div>
                                
                                <div class="popular-under-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="popular-title">Lorem Ipsum</div>
                                            <div class="popular-price">2999тг</div>
                                        </div>
                                    </div>
                                    
                                    <div class="popular-text">Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy text </div>
                                </div>
                                
                            </div>
                        </a>
                    </div>
    
                    <div class="col-md-4 col-12">
                        <a href="">
                            <div class="popular-block">
                                <div class="popular-image-block">
                                    <img src="{%static 'images/talking.jpg'%}" alt="" class="popular-image">
                                    <a href="#">
                                        <div class="popular-icon"></div>
                                    </a>
                                </div>
                                
                                <div class="popular-under-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="popular-title">Lorem Ipsum</div>
                                            <div class="popular-price">2999тг</div>
                                        </div>
                                    </div>
                                    
                                    <div class="popular-text">Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy text </div>
                                </div>
                                
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 col-12">
                        <a href="">
                            <div class="popular-block">
                                <div class="popular-image-block">
                                    <img src="{%static 'images/talking.jpg'%}" alt="" class="popular-image">
                                    <a href="#">
                                        <div class="popular-icon"></div>
                                    </a>
                                </div>
                                
                                <div class="popular-under-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="popular-title">Lorem Ipsum</div>
                                            <div class="popular-price">2999тг</div>
                                        </div>
                                    </div>
                                    
                                    <div class="popular-text">Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy text </div>
                                </div>
                                
                            </div>
                        </a>
                    </div>
    
                    <div class="col-md-4 col-12">
                        <a href="">
                            <div class="popular-block">
                                <div class="popular-image-block">
                                    <img src="{%static 'images/talking.jpg'%}" alt="" class="popular-image">
                                    <a href="#">
                                        <div class="popular-icon"></div>
                                    </a>
                                </div>
                                
                                <div class="popular-under-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="popular-title">Lorem Ipsum</div>
                                            <div class="popular-price">2999тг</div>
                                        </div>
                                    </div>
                                    
                                    <div class="popular-text">Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy text </div>
                                </div>
                                
                            </div>
                        </a>
                    </div>
    
                    <div class="col-md-4 col-12">
                        <a href="">
                            <div class="popular-block">
                                <div class="popular-image-block">
                                    <img src="{%static 'images/talking.jpg'%}" alt="" class="popular-image">
                                    <a href="#">
                                        <div class="popular-icon"></div>
                                    </a>
                                </div>
                                
                                <div class="popular-under-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="popular-title">Lorem Ipsum</div>
                                            <div class="popular-price">2999тг</div>
                                        </div>
                                    </div>
                                    
                                    <div class="popular-text">Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy text </div>
                                </div>
                                
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 col-12">
                        <a href="">
                            <div class="popular-block">
                                <div class="popular-image-block">
                                    <img src="{%static 'images/talking.jpg'%}" alt="" class="popular-image">
                                    <a href="#">
                                        <div class="popular-icon"></div>
                                    </a>
                                </div>
                                
                                <div class="popular-under-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="popular-title">Lorem Ipsum</div>
                                            <div class="popular-price">2999тг</div>
                                        </div>
                                    </div>
                                    
                                    <div class="popular-text">Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy text </div>
                                </div>
                                
                            </div>
                        </a>
                    </div>
    
                    <div class="col-md-4 col-12">
                        <a href="">
                            <div class="popular-block">
                                <div class="popular-image-block">
                                    <img src="{%static 'images/talking.jpg'%}" alt="" class="popular-image">
                                    <a href="#">
                                        <div class="popular-icon"></div>
                                    </a>
                                </div>
                                
                                <div class="popular-under-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="popular-title">Lorem Ipsum</div>
                                            <div class="popular-price">2999тг</div>
                                        </div>
                                    </div>
                                    
                                    <div class="popular-text">Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy text </div>
                                </div>
                                
                            </div>
                        </a>
                    </div>
    
                    <div class="col-md-4 col-12">
                        <a href="">
                            <div class="popular-block">
                                <div class="popular-image-block">
                                    <img src="{%static 'images/talking.jpg'%}" alt="" class="popular-image">
                                    <a href="#">
                                        <div class="popular-icon"></div>
                                    </a>
                                </div>
                                
                                <div class="popular-under-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="popular-title">Lorem Ipsum</div>
                                            <div class="popular-price">2999тг</div>
                                        </div>
                                    </div>
                                    
                                    <div class="popular-text">Lorem Ipsum is simply dummy Lorem Ipsum is simply dummy text </div>
                                </div>
                                
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
{% endblock %}