{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Контакты</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css' %}">
{% endblock %}

{%block contacts%}active-menu{%endblock%}
{%block contacts_mobile%}active-menu{%endblock%}

{% block content %}
    <br><br>
    <div class="wrap-content">
        <div class="route">
            <a href="{%url 'main:index'%}">Главная</a> / Контакты
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <br><br>

                <div class="row">
                    <div class="col-md-1 col-sm-12"></div>
                    <div class="col-md-5 col-sm-12" style="padding-right: 10%;">
                        <div class="important-text">Контакты</div>
                        <br><br>
                        <div class="regular-text">
                            Lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book
                        </div>
                        <br>
                        <div class="regular-text">
                            +0(000)000 00 00
                        </div>
                        <br>
                        <div class="regular-text">
                            <p style="text-decoration: underline">Info@Mail.Ru</p>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <div class="map">
                            <iframe
                                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A1d0676eeaff250792f8c63e81aef317016a5a1442198c3f57e84720b762857c6&amp;source=constructor"
                                    width="100%"
                                    height="400"
                                    frameborder="0">
                            </iframe>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-12"></div>
                </div>

                <br><br>

            </div>
        </div>

        <br><br><br><br>
    </div>
{% endblock %}

{%block flowers%}
    <div class="pic1 mobile-none" style="left: 0;top: 6vh;">
        <img src="{% static 'images/flowers/leaf branch 1.png' %}" class="back-image" alt="">
    </div>

    <div class="pic2 mobile-none" style="right: -1px;top: 374px;">
        <img src="{% static 'images/flowers/branch2 1.png' %}" class="back-image" alt="">
    </div>

{%endblock%}