{% extends "base.html" %}
{% load static %}

{%block styles %}
    <title>Магазин Косметики</title>
    <link rel="stylesheet" href="{%static 'css/rating.css'%}">
    <link rel="stylesheet" href="{%static 'css/slider.css'%}">
    
    
{% endblock %}

{% block content %}
    
        
        <!-- {%for product in blocks %}
        <div style="float:left; margin-left: 50px">
            <h3>{{product.name}}</h3>
            на оценку 
            <fieldset class="rating">
                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
            </fieldset>
        </div>
        {% endfor %} -->
        
        <div class="slider-wrap">
            <div class="slider-block">
                <div class="slider" style="z-index: 2;height: 620px;">
                    <div class="slider__wrapper slider-image">
                      <div class="slider__item slider-image">
                        <div style=" background-image: url('{%static 'images/people/3.jpg'%}');" class="slider-image">
                            
                        </div>
                      </div>
                      <div class="slider__item slider-image">
                        <div style="background-image: url('{%static 'images/people/2.jpg'%}');" class="slider-image">
                        
                        </div>
                      </div>
                      <div class="slider__item slider-image">
                        <div style="background-image: url('{%static 'images/people/4.jpg'%}');" class="slider-image">
                        
                        </div>
                      </div>
                      <div class="slider__item slider-image">
                        <div style="background-image: url('{%static 'images/people/1.jpg'%}');" class="slider-image">
                        
                        </div>
                      </div>
                    </div>
                    <div class="slider-image-opacity-block">

                    </div>
                    <div class="dark-slider"></div>
                    <a class="slider__control slider__control_left" href="#" role="button"></a>
                    <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
                    
                </div>
                <img src="{%static 'images/slider_back.png'%}" alt="" class="slider-background">
                <div class="slider-text-block">
                    <div class="slider-title">
                        Lorem Ipsum
                    </div>
                    <div class="slider-text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores ratione deleniti provident quisquam. Facere tempora in nam facilis placeat rem voluptate, necessitatibus hic exercitationem porro consectetur illo dolorem expedita nostrum.
                    </div>
                    <button class="slider-button">
                        Смотреть Каталог
                    </button>
                </div>
                
                
            </div>
        </div>

        <div class="my-wrap">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-pluses-icon-block">

                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-pluses-icon-block">
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-pluses-icon-block">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <script src="{%static 'js/slider.js'%}"></script>

{% endblock %}