{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Контакты</title>
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
{% endblock %}

{%block contacts%}active-menu{%endblock%}
{%block contacts_mobile%}active-menu{%endblock%}

{% block content %}
    <div class="wrap-content">
        <div class="hide-on-mobile">
            <br>
        </div>


        <div class="hide-on-pc">
            <div class="title">Оформление заказа</div>
            <br>
            <div class="top-block">
                <div class="route">
                    Вернуться к покупкам
                </div>
            </div>
        </div>
    </div>
{% endblock %}