{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Категории</title>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/popular-block.css' %}">
    <script src="{%static 'js/search.js'%}"></script>
    <script src="{%static 'js/add_product_to_bag.js'%}"></script>
{% endblock %}

{%block catalog%}active-menu{%endblock%}
{%block catalog_mobile%}active-menu{%endblock%}

{% block content %}
    <style>
        .title-block{
            background-image: url( {% static 'images/title-block-background-1.png' %});
        }
        .wrapper{
            width:30%;
            height: 150px;
            vertical-align: top;
            display: inline-block;
        }
        
    </style>

    <div class="wrap-content">
        <br><br>

        <div class="title-block">
            <div class="title-block-text">{{q}}</div>
        </div>

        <br><br>

        <div class="top-block">
            <div class="route">
                <a href="{%url 'main:index'%}">Главная</a> / Поиск
            </div>

            <div class="filter-block">
                <form action="" method="GET">
                    <div class="wrapper">
                        <select name="optional" class="form-control"  id="select-price"  onfocus='this.size=5;' onblur='this.size=1;'>
                            {% for key, value in price_values.items %}
                                <option {%if key == price%} selected {%endif%}value="{{key}}">{{value}}</option>
                            {% endfor%}
                           
                        </select>
                    </div>
                   <div class="wrapper">
                        <select name="brand" class="form-control" id="select-brand"  onfocus='this.size=5;' onblur='this.size=1;' >
                            <option value="">Бренд</option>
                            {% for item in brands %}
                                <option {%if item.id == brand.id%} selected {%endif%}value="{{item.id}}">{{item.name}}</option>
                            {% endfor%}
                        </select>
                   </div>
                    <div class="wrapper">
                        <select name="category" class="form-control" id="select-category"  onfocus='this.size=5;' onblur='this.size=1;' >
                            <option value="">Категория</option>
                            {% for item in all_categories %}
                                <option {%if item.id == category.id%} selected {%endif%}value="{{item.id}}">{{item.name}}</option>
                            {% endfor%}
                        </select>
                    </div>
                    
                    <input type="text" style="visibility: hidden;position: absolute;" value="{{q}}" name="q">
                    <button style="visibility: hidden;position: absolute;" type="submit" id="search_button2"></button>
                </form>
                
            </div>
        </div>
        {% if products %}
        <div class="comments" style="margin-bottom: 40px; margin-top: 120px;">
            <div class="popular-wrap">
                <div class="row">
                    {% csrf_token %}
                    {%for product in products %}
                        <div class="col-md-4 col-12">
                            <div class="popular-block">
                                <a href="{% url 'main:product' product.id%}">
                                    <div class="popular-image-block">
                                        {% with product.images.all|first as image %}
                                        <img src="{{image.img_url}}" alt="" class="popular-image">
                                        {% endwith %}
                                    
                                        
                                    </div>
                                    
                                    <div class="popular-under-block">
                                        <div class="container">
                                            <div class="row">
                                                <div class="popular-title">{{product.name|slice:"0:18"}}{%if product.name|length > 18%}...{%endif%}</div>
                                                <div class="popular-price">{{product.price}}тг</div>
                                            </div>
                                        </div>
                                        
                                        <div class="popular-text">{{product.description|slice:"0:40"}}{%if product.description|length > 40%}...{%endif%}</div>
                                    </div>
                                </a> 
                                <form action="{% url 'main:add_product_to_bag'%}" method="POST">
                                    <div class="popular-icon" onclick="buy({{product.id}}, true)"></div>       
                                </form>
                            </div>
                        </div>
                    {%endfor%}
                    
                    
                </div>
            </div>
        </div>
        {% else %}
            <h2 class="empty-text">Ничего не найдено!</h2>
        {% endif %}

        {% if products and pages|length > 1%}
            <div class="navigation">
                <ul>
                    {% for page in pages%}
                        {% if page == products.number %}
                            <li class="page-current">
                                <span>{{page}}</span>
                            </li>
                        {% else %}
                            <li class="page-nav">
                                <a href="?page={{page}}"> {{page}} </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {%endif%}
{% endblock %}
