{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Каталог</title>
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/popular-block.css' %}">
    <link rel="stylesheet" href="{%static 'rateit/rateit.css'%}">
    <script src="{%static 'rateit/jquery.rateit.js'%}"></script>
{% endblock %}

{%block help%}active-menu{%endblock%}
{%block help_mobile%}active-menu{%endblock%}

{% block content %}
    <div class="comment-form-back" id="add_comment" >
        <div class="comment-form">
            <div class="comment-form-block">
                <div class="comment-form-title">
                    Оцените качество товара и расскажите это всем!
                </div>
                <textarea  type="text" placeholder="Коментарий" class="comment-form-textarea"></textarea>
                <button class="comment-form-button">Отправить</button>
                <div class="comment-form-back-text" onclick="close_comment_form()">Назад</div>
            </div>
        </div>
    </div>
    <div class="wrap-content">
        <div class="top-block" style="margin-bottom: 0px;margin-top: 30px;">
            <div class="route">
                Главная / Категории / {{product.category.name}} / {{product.name}}
            </div>
        </div>
        
        <div class="row" style="margin-top: 50px;margin-bottom: 70px;">
            <div class="col-md-4 col-12 image-padding">
                {% with product.images.all|first as image %}
                    <img src="{{image.img_url}}" alt="" class="product-main-image">
                {% endwith %}
                
                {% comment %} <div class="row">
                    <div class="col-3">
                        <img src="{%static 'images/icons/eye.svg'%}" alt="" class="product-second-image">
                    </div>
                    <div class="col-3">
                        <img src="{%static 'images/icons/eye.svg'%}" alt="" class="product-second-image">
                    </div>
                    <div class="col-3">
                        <img src="{%static 'images/icons/eye.svg'%}" alt="" class="product-second-image">
                    </div>
                    <div class="col-3">
                        <img src="{%static 'images/icons/eye.svg'%}" alt="" class="product-second-image">
                    </div>
                </div> {% endcomment %}
            </div>
            <div class="col-md-5 col-12" style="margin: auto;">
                <div class="info-block">
                    <div class="container">
                        <div class="row">
                            <div class="info-title">{{product.name}}</div>
                            <div class="info-rating">
                                
                                <div class="rateit" data-rateit-value="{{product.avarage_ratings}}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-mode="font"  style="font-size:29px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="info-description">
                        {{product.description}}
                    </div>
                    <div class="info-price hide-on-mobile">
                        {{product.price}}тг
                    </div>
                    <div class="container info-container-margin">
                        <div class="row">
                            <div class="info-title-parameter">
                                Объём
                            </div>
                            <div class="info-title-parameter-description">
                                10мл
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="info-title-parameter" style="padding-top: 5px;">
                                Количество
                            </div>
                            <div class="info-title-parameter-description">
                                <button class="count-icon" onclick="remove()">-</button>
                                <span id="count" style="margin-right: 10px;margin-left:10px">1</span>
                                <button class="count-icon" onclick="add()">+</button>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%;">
                        <button class="info-button">Добавить в корзину</button>
                        <div class="info-price show-on-mobile">
                            {{product.price}}тг
                        </div>
                    </div>
                    
                </div>
            </div>

            
        </div>
        <div class="hide-on-mobile">
            <div class="row ">
                <div class="col-6">
                    <div class="under-info-title">
                        Описание
                    </div>
                    <div class="under-info-text" style="width: 80%;">
                        {{product.description}}
                    </div>
                </div>
                <div class="col-6" style="padding-left: 0px;">
                    <div class="under-info-title">
                        Состав
                    </div>
                    <div class="under-info-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="comments">
            <div class="comments-title">Отзывы</div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="comment-block">
                        <div class="container">
                            <div class="row">
                                <img class="comment-avatar">
                                <div class="comment-user-block">
                                    <div class="comment-user-block-title">Валерий</div>
                                    <div class="comment-user-block-text">10.10.2020</div>
                                </div>
                                <div class="comment-rating">
                                    
                                    <div class="rateit star-size" data-rateit-value="3.2" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-mode="font"  ></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="comment-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="comment-block">
                        <div class="container">
                            <div class="row">
                                <img class="comment-avatar">
                                <div class="comment-user-block">
                                    <div class="comment-user-block-title">Валерий</div>
                                    <div class="comment-user-block-text">10.10.2020</div>
                                </div>
                                <div class="comment-rating">
                                    
                                    <div class="rateit star-size" data-rateit-value="3.2" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-mode="font"  ></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="comment-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="comment-block">
                        <div class="container">
                            <div class="row">
                                <img class="comment-avatar">
                                <div class="comment-user-block">
                                    <div class="comment-user-block-title">Валерий</div>
                                    <div class="comment-user-block-text">10.10.2020</div>
                                </div>
                                <div class="comment-rating">
                                    
                                    <div class="rateit star-size" data-rateit-value="3.2" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-mode="font"  ></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="comment-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="add-comment-block">
                        <div class="text-block">
                            <div class="add-comment-block-title">
                                Купили товар? Расскажите всем!
                            </div>
                            <button onclick="open_comment_form()" class="add-comment-block-button">Оставить коментарий</button>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>    
        
        <div class="comments" style="margin-bottom: 100px;">
            <div class="comments-title">Популярное</div>
            <div class="popular-wrap">
                <div class="row">
                    {%for product in popular_products%}
                        <div class="col-md-4 col-12">
                            <a href="{% url 'main:product' product.id%}">
                                <div class="popular-block">
                                    <div class="popular-image-block">
                                        {% with product.images.all|first as image %}
                                            <img src="{{image.img_url}}" alt="" class="popular-image">
                                        {% endwith %}
                                        
                                        <a href="#">
                                            <div class="popular-icon"></div>
                                        </a>
                                    </div>
                                    
                                    <div class="popular-under-block">
                                        <div class="container">
                                            <div class="row">
                                                <div class="popular-title">{{product.name}}</div>
                                                <div class="popular-price">{{product.price}}тг</div>
                                            </div>
                                        </div>
                                        
                                        <div class="popular-text">{{product.description}} </div>
                                    </div>
                                    
                                </div>
                            </a>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>

        
        
    </div>

    
    
    <script>

        function remove(){
            var count = parseInt($("#count").text()); 
            if(count > 1){
                $("#count").text(--count);
            }
            
        }

        function add(){
            var count = parseInt($("#count").text()); 
            if(count < 999){
                $("#count").text(++count);
            }
        }

        function open_comment_form(){
            $("#add_comment").css("display", "block");
            $("#add_comment").css("opacity", "1");
            $("body").css("overflow", "hidden");
            $("html").css("overflow", "hidden");
        }

        function close_comment_form(){
            $("#add_comment").css("opacity", "0");
            setTimeout(function(){
                $("#add_comment").css("display", "none");
            }, 300)
            $("body").css("overflow", "inherit");
            $("html").css("overflow", "inherit");
        }

    </script>
{% endblock %}