{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Категории</title>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/popular-block.css' %}">
    <script src="{%static 'js/search.js'%}"></script>
{% endblock %}

{%block catalog%}active-menu{%endblock%}
{%block catalog_mobile%}active-menu{%endblock%}

{% block content %}
    <style>
        .title-block{
            background-image: url( {% static 'images/title-block-background-1.png' %});
        }
    </style>

    <div class="wrap-content">
        <br><br>

        <div class="title-block">
            <div class="title-block-text">{{q}}</div>
        </div>

        <br><br>

        <div class="top-block">
            <div class="route">
                Главная / Поиск
            </div>

            <div class="filter-block">
                <form action="" method="GET">
                    <select name="price" id="select-price">
                        {% for key, value in price_values.items %}
                            <option {%if key == price%} selected {%endif%}value="{{key}}">{{value}}</option>
                        {% endfor%}
                    </select>
                    <select name="brand" id="select-brand">
                        <option value="">Бренд</option>
                        {% for item in brands %}
                            <option {%if item.id == brand.id%} selected {%endif%}value="{{item.id}}">{{item.name}}</option>
                        {% endfor%}
                    </select>
                    <input type="text" style="visibility: hidden;" value="{{q}}" name="q">
                    <button style="visibility: hidden;" type="submit" id="search_button2"></button>
                </form>
                
            </div>
        </div>
        {% if products %}
        <div class="comments" style="margin-bottom: 40px; margin-top: 60px;">
            <div class="popular-wrap">
                <div class="row">

                    {%for product in products %}
                        <div class="col-md-4 col-12">
                            <a href="">
                                <div class="popular-block">
                                    <div class="popular-image-block">
                                        {% with product.images.all|first as image %}
                                        <img src="{{image.img_url}}" alt="" class="popular-image">
                                        {% endwith %}
                                        
                                        <a href="{% url 'main:product' product.id%}">
                                            <div class="popular-icon"></div>
                                        </a>
                                    </div>
                                    
                                    <div class="popular-under-block">
                                        <div class="container">
                                            <div class="row">
                                                <div class="popular-title">{{product.name}}</div>
                                                <div class="popular-price">{{product.price}}тг</div>
                                            </div>
                                        </div>
                                        
                                        <div class="popular-text">{{product.description}}</div>
                                    </div>
                                    
                                </div>
                            </a>
                        </div>
                    {%endfor%}
                    
                    
                </div>
            </div>
        </div>
        {% else %}
            <h2 class="empty-text">Ничего не найдено!</h2>
        {% endif %}

        {% if products and pages|length > 1%}
            <div class="navigation">
                <ul>
                    {% for page in pages%}
                        {% if page == blocks.number %}
                            <li class="page-current">
                                <span>{{page}}</span>
                            </li>
                        {% else %}
                            <li class="page-nav">
                                <a href="?page={{page}}"> {{page}} </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {%endif%}
{% endblock %}
