{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Каталог</title>
    <link rel="stylesheet" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/popular-block.css' %}">
    <link rel="stylesheet" href="{%static 'rateit/rateit.css'%}">
    <script src="{%static 'rateit/jquery.rateit.js'%}"></script>
    <script src="{%static 'js/add_product_to_bag.js'%}"></script>
    <script src="{%static 'js/admin.js'%}"></script>
    <script src="{%static 'js/load_more.js'%}"></script>
{% endblock %}

{%block help%}active-menu{%endblock%}
{%block help_mobile%}active-menu{%endblock%}

{% block content %}
    <div class="comment-form-back" id="add_comment" >
        <div class="comment-form">
            <div class="comment-form-block">
                <form action="{%url 'main:add_comment'%}" method="POST">{%csrf_token%}
                    <div class="comment-form-title">
                        Оцените качество товара и расскажите это всем!
                    </div>
                    <textarea name="text"  type="text" placeholder="Коментарий" class="comment-form-textarea"></textarea>
                    <div class="container" style="margin-bottom: 30px;">
                        <div class="row">
                            <div class="comment-quality">Качество</div>
                            <input type="range" name="stars" value="1" id="rate_comment">
                            <div class="comment-rate" style="padding-top:5px">
                                <div class="rateit star-size" data-rateit-backingfld="#rate_comment"  data-rateit-min="0" data-rateit-max="5" data-rateit-ispreset="true" data-rateit-resetable="false" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="comment-form-button">Отправить</button>
                    <div class="comment-form-back-text" onclick="close_comment_form()">Назад</div>
                    <input type="text" name="id" value="{{product.id}}" style="visibility: hidden;">
                </form>
            </div>
        </div>
    </div>
    <div class="wrap-content">
        <div class="top-block" style="margin-bottom: 0px;margin-top: 30px;">
            <div class="route">
                <a href="{%url 'main:index'%}">Главная</a> / <a href="{%url 'main:categories'%}">Категории</a> / <a href="{%url 'main:products'%}?category={{product.category.id}}">{{product.category.name}}</a> / {{product.name}}
            </div>
        </div>
        
        <div class="row" style="margin-top: 50px;margin-bottom: 70px;">
            <div class="col-md-5 col-12 image-padding">
                {% with product.images.all|first as image %}
                    <div style="width: 100%; padding-bottom: 100%;">
                        <img src="{{image.img_url}}" alt="" class="product-main-image" >
                    </div>
                {% endwith %}
                
                {% comment %} <div class="row">
                    <div class="col-3">
                        <img src="{%static 'images/icons/eye.svg'%}" alt="" class="product-second-image">
                    </div>
                    <div class="col-3">
                        <img src="{%static 'images/icons/eye.svg'%}" alt="" class="product-second-image">
                    </div>
                    <div class="col-3">
                        <img src="{%static 'images/icons/eye.svg'%}" alt="" class="product-second-image">
                    </div>
                    <div class="col-3">
                        <img src="{%static 'images/icons/eye.svg'%}" alt="" class="product-second-image">
                    </div>
                </div> {% endcomment %}
            </div>
            <div class="col-md-5 col-12" style="margin: auto;">
                <div class="info-block" style="padding-top: 0px;">
                    <div class="container">
                        <div class="row">
                            <div class="info-title">{{product.name}}</div>
                            <div class="info-rating">
                                
                                <div class="rateit" data-rateit-value="{{product.avarage_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-mode="font"  style="font-size:29px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="info-description">
                        {{product.description}}
                    </div>
                    <div class="info-price hide-on-mobile">
                        {{product.price}}тг
                    </div>
                    <div class="container info-container-margin">
                        <div class="row">
                            <div class="info-title-parameter">
                                Объём
                            </div>
                            <div class="info-title-parameter-description">
                                10мл
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="info-title-parameter" style="padding-top: 5px;">
                                Количество
                            </div>
                            <div class="info-title-parameter-description">
                                <button class="count-icon" onclick="remove()">-</button>
                                <span id="count" style="margin-right: 10px;margin-left:10px">1</span>
                                <button class="count-icon" onclick="add()">+</button>
                            </div>
                        </div>
                    </div>
                    <form style="width: 100%;" action="{% url 'main:add_product_to_bag'%}" method="POST">{% csrf_token %}
                        <div class="info-button success" onclick="buy({{product.id}}, false)">Добавить в корзину</div>
                        <div class="info-price show-on-mobile">
                            {{product.price}}тг
                        </div>
                    </form>
                    
                </div>
            </div>

            
        </div>
        <div class="hide-on-mobile">
            <div class="row ">
                <div class="col-6">
                    <div class="under-info-title">
                        Описание
                    </div>
                    <div class="under-info-text" style="width: 80%;">
                        {{product.description}}
                    </div>
                </div>
                <div class="col-6" style="padding-left: 0px;">
                    <div class="under-info-title">
                        Состав
                    </div>
                    <div class="under-info-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                    </div>
                </div>
            </div>
        </div>
        
        
            <div class="comments">
                <div class="comments-title">Отзывы</div>
                <div class="row">
                    {%if ratings %}
                        {%for rating in ratings|slice:"0:4" %}
                            <div class="col-md-6 col-12 moreBox blogBox">
                                <div class="comment-block">
                                    <div class="container">
                                        <div class="row">
                                            <img class="comment-avatar" src="{{rating.user.img_url}}">
                                            <div class="comment-user-block">
                                                <div class="comment-user-block-title">{{rating.user.first_name}}</div>
                                                <div class="comment-user-block-text">{{rating.pub_date}}</div>
                                            </div>
                                            <div class="comment-rating">
                                                
                                                <div class="rateit star-size" data-rateit-value="{{rating.stars}}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-mode="font"  ></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="comment-text">
                                        {{rating.text}}
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                        {% if ratings|length > 4%}
                            {%for rating in ratings|slice:"5:" %}
                                <div class="col-md-6 col-12 moreBox blogBox hide-rate">
                                    <div class="comment-block">
                                        <div class="container">
                                            <div class="row">
                                                <img class="comment-avatar" src="{{rating.user.img_url}}">
                                                <div class="comment-user-block">
                                                    <div class="comment-user-block-title">{{rating.user.first_name}}</div>
                                                    <div class="comment-user-block-text">{{rating.pub_date}}</div>
                                                </div>
                                                <div class="comment-rating">
                                                    
                                                    <div class="rateit star-size" data-rateit-value="{{rating.stars}}" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-mode="font"  ></div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="comment-text">
                                            {{rating.text}}
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                        {%endif%}                        
                    {%endif%}
                    {%if can_comment%}
                        <div class="col-md-6 col-12" style="margin-bottom:100px">
                            <div class="add-comment-block">
                                <div class="text-block">
                                    <div class="add-comment-block-title">
                                        Купили товар? Расскажите всем!
                                    </div>
                                    <button onclick="open_comment_form()" class="add-comment-block-button">Оставить коментарий</button>
                                </div>
                                
                            </div>
                        </div>
                    {%endif%}
                    {%if ratings|length == 0%}
                        <div class="important-text" style="margin: auto;">Нет отзывов!</div>
                    {%endif%}
                </div>
            </div> 
            {%if ratings|length > 3%}
                <div id="loadMore" class="show-more">
                    Показать еще
                </div>
            {% endif %}
        
        
        <div class="comments" style="margin-bottom: 100px;">
            <div class="comments-title">Популярное</div>
            <div class="popular-wrap">
                <div class="row">
                    {% csrf_token %}
                    {%for product in popular_products%}
                    <div class="col-md-4 col-12">
                        <div class="popular-block">
                            <a href="{% url 'main:product' product.id%}">
                                <div class="popular-image-block">
                                    {% with product.images.all|first as image %}
                                    <img src="{{image.img_url}}" alt="" class="popular-image">
                                    {% endwith %}
                                
                                    {%if product.discount > 0%}
                                        <div class="discount-price">
                                            {{product.discount_price}}тг
                                        </div>
                                    {%endif%}
                                </div>
                                
                                <div class="popular-under-block">
                                    <div class="container">
                                        <div class="row">
                                            <div class="popular-title">{{product.name}}</div>
                                            {%if product.discount > 0%}
                                                <div class="popular-price cross-out">{{product.price}}тг</div>
                                            {%else%}
                                                <div class="popular-price">{{product.price}}тг</div>
                                            {%endif%}
                                            
                                        </div>
                                    </div>
                                    
                                    <div class="popular-text">{{product.description|slice:"0:80"}}...</div>
                                </div>
                            </a> 
                            <form action="{% url 'main:add_product_to_bag'%}" method="POST">
                                <div class="popular-icon" onclick="buy({{product.id}}, true)"></div>       
                            </form>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>

        
        
    </div>

    
    
    <script>

        function remove(){
            var count = parseInt($("#count").text()); 
            if(count > 1){
                $("#count").text(--count);
            }
            
        }

        function add(){
            var count = parseInt($("#count").text()); 
            if(count < 999){
                $("#count").text(++count);
            }
        }

        function open_comment_form(){
            $("#add_comment").css("display", "block");
            $("#add_comment").css("opacity", "1");
            $("body").css("overflow", "hidden");
            $("html").css("overflow", "hidden");
        }

        function close_comment_form(){
            $("#add_comment").css("opacity", "0");
            setTimeout(function(){
                $("#add_comment").css("display", "none");
            }, 300)
            $("body").css("overflow", "inherit");
            $("html").css("overflow", "inherit");
        }

    </script>
    {%if request.session.rate_product%}
    <script>
        alertify.success("Вы успешно оценили продукт!",3);
        remove_parameter("rate_product", "{{csrf_token}}");
    </script>
    {%endif%}
{% endblock %}

{%block flowers%}
    <div class="pic1 mobile-none" style="left: 0;top: 7vh;">
        <img src="{% static 'images/flowers/leaf branch 1.png' %}" class="back-image" alt="">
    </div>

    <div class="pic2 mobile-none" style="right: -1px;top: 85vh;">
        <img src="{% static 'images/flowers/branch2 1.png' %}" class="back-image" alt="">
    </div>

    <div class="pic4 mobile-none" style="left: 0;top: 279vh;">
        <img src="{% static 'images/flowers/6 1.png' %}" class="back-image" alt="">
    </div>

    <div class="pic5 mobile-none" style="right: 0px;top: 192vh;">
        <img src="{% static 'images/flowers/branch 1.png' %}" class="back-image" alt="">
    </div>  
{%endblock%}