{% extends "base.html" %}
{% load static %}

{% block styles %}
    <title>Корзина</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/support.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/popular-block.css' %}">
{% endblock %}


{% block content %}

    <div class="wrap-content">

        <div class="hide-on-mobile">
            <br>
        </div>

        <div>
            <div class="title">Личный кабинет</div>
            <div class="top-block">
                <br>
                <div class="route">
                   <a href="{%url 'main:index'%}">Вернуться на главную</a>
                </div>
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="avatar" style="text-align: center">
                    <img class="center" src="{% static 'images/people/5.jpg' %}">
                    <a href="" style="color: grey;">Изменить</a>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-12">
                        <p class="important-text">{{ user.first_name }} {{ user.last_name }}</p>
                    </div>
                    <div class="col-12" style="">
                        <p class="regular-text"><b>Почта:</b> {{ user.email }}</p>
                    </div>
                    <div class="col-12"></div>
                    <div class="col-12" style="color: grey;">Редактировать</div>
                </div>
                <div class="hide-on-pc">
                    <br><br><br>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="definition-text">История покупок</div>

                <div class="hide-on-mobile">
                    <br><br>
                </div>

                <table class="purchases-table" style="width: 100%">
                    <tr>
                        <td class="hide-on-mobile">
                            <img src="{% static 'images/talking.jpg' %}" alt="">
                        </td>
                        <td>
                            <div class="table-text">LOREM IPSUM</div>
                        </td>
                        <td>
                            <div class="table-text">10мл</div>
                        </td>
                        <td>
                            <div class="table-text">1 шт</div>
                        </td>
                        <td>
                            <div class="table-text">2999тг</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="hide-on-mobile">
                            <img src="{% static 'images/talking.jpg' %}" alt="">
                        </td>
                        <td>
                            <div class="table-text">LOREM IPSUM</div>
                        </td>
                        <td>
                            <div class="table-text">10мл</div>
                        </td>
                        <td>
                            <div class="table-text">1 шт</div>
                        </td>
                        <td>
                            <div class="table-text">2999тг</div>
                        </td>
                    </tr>

                    <tr>
                        <td class="hide-on-mobile">
                            <img src="{% static 'images/talking.jpg' %}" alt="">
                        </td>
                        <td>
                            <div class="table-text">LOREM IPSUM</div>
                        </td>
                        <td>
                            <div class="table-text">10мл</div>
                        </td>
                        <td>
                            <div class="table-text">1 шт</div>
                        </td>
                        <td>
                            <div class="table-text">2999тг</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <br><br><br><br>

    </div>

    <br><br>

{% endblock %}

{%block flowers%}
    <div class="pic1 mobile-none" style="left: 0;top: 6vh;">
        <img src="{% static 'images/flowers/leaf branch 1.png' %}" class="back-image" alt="">
    </div>

    <div class="pic2 mobile-none" style="right: -1px;top: 78vh;">
        <img src="{% static 'images/flowers/branch2 1.png' %}" class="back-image" alt="">
    </div>
{%endblock%}