#slider{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.info{
    position: relative;
    width: 100%;
    background-color: #FEFFFA;
}

.description-block{
    height: auto;
    width: 100%;
    padding: 30px;
    font-size: 18px;

    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: 0.1em;
}

.description-block strong{
    font-size: 36px;
    font-weight: 600;
}

.contact-form-block{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #F7DECA;
}

.contact-form{
    width: 100%;
    font-family: Montserrat, serif;
    padding: 5%;
}

.contact-form input{
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    border: 1px solid transparent;
    height: 40px;
    padding-left: 20px;
}

.contact-form input[type="submit"], .contact-form input[type="submit"]:focus{
    width: 100%;
    margin-top: 20px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(93.88deg, #F8FED9 1.41%, #F5C4C4 147.98%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: none;
    outline: none;
}

.contact-form-image{
    width: 100%;
}

.contact-form-image img{
    width: 100%;
}

@media (max-width: 900px){
    .contact-form-image{
        display: none;
    }
}