.cart-content{
    display: grid;
    grid-template-areas: 'items inputs';
    grid-column-gap: 5%;
}

.items-block{
    grid-area: items;
    border-right: 2px solid #cbccc8;
}

.inputs-block{
    grid-area: inputs;
}

.empty-cart-text{
    font-size: 15px;
    font-weight: bold;
    font-family: Montserrat-Regular;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 30px;
}

.inputs-block input{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    font-family: 'Montserrat-Regular';
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 16px;
    width: 100%;
    margin-bottom: 5%;
}

.definition-text{
    font-family: Montserrat-Regular;
    font-weight: 600;
    font-size: 18px;
}

.item-pc-version{
    display: grid;
    grid-template-areas: 'left center center center center right';
    grid-column-gap: 50px;
    width: 100%;
    height: auto;
    margin-bottom: 5vh;
}

.item-pc-version-image{
    grid-area: left;
    padding: 5%;
    text-align: left;
}

.share-scroll{
    display: flex;
    width: 200px;
    overflow: auto;
}

.item-pc-version-image img{
    width: 200px;
    height: 200px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.item-pc-version-description{
    grid-area: center;
    padding-top: 2%;
    max-height: 75px;
    padding-right: 5%;
}

.item-pc-version-price{
    grid-area: right;
    padding-top: 3vw;
    padding-right: 5vw;
}

.item-title{
    font-size: 24px;
    font-family: Montserrat-Regular;
}

.item-text{
    font-family: Montserrat-Regular;
    font-size: 16px;
}

.volume, .amount{
    display: inline-block;
    margin-right: 20px;
}

.amount button, .amount button:focus{
    border: 1px solid #FFD4D4;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: #FFD4D4;
    padding-bottom: 10px;
    font-weight: bold;
    margin: 3px;
    outline: none;
}

.item-price{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat-Bold';
    margin-top: 20px;
}

.total-price{
    font-family: "Montserrat-Regular";
    font-size: 20px;
    padding: 3%;
}

.order-button button, .order-button button:focus{
    width: 200px;
    height: 40px;
    background: linear-gradient(271.55deg, #FFEBEB -10.33%, #F8FFD9 98.99%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.13);
    border-radius: 36px;
    font-size: 16px;
    font-family: "Montserrat-Regular";
    border: none;
    outline: none;
}

.hide-on-pc{
    display: none;
}

#delivery-inputs{
    transition: 3s;
}

@media (max-width: 1090px) {
    .hide-on-mobile{
        display: none;
    }
    .hide-on-pc{
        display: block;
    }
    .inputs-block{
        margin-top: 20px;
    }
    .items-block{
        grid-area: items;
        border-right: 0;
    }

    .cart-content{
        display: grid;
        grid-template-areas: 'items'
        'inputs';
        grid-column-gap: 5%;
    }

    .amount{
        margin: 0;
    }

    .volume{
        font-weight: normal;
    }

    .item-mobile-version{
        display: grid;
        grid-template-areas: 'image volume-amount'
        'description description';
        grid-column-gap: 5%;
        width: 100%;
    }
    .item-mobile-version-image{
        grid-area: image;
        width: 100%;
        min-width: 190px;
        min-height: 190px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    }
    .item-mobile-version-volume-amount-block{
        grid-area: volume-amount;
        padding-top: 20%;
        margin: 0 auto;
    }
    .item-mobile-version-description{
        grid-area: description;
    }

    .item-mobile-version-image img{
        width: 100%;
        max-width: 600px;
        max-height: 600px;
    }
    .share-scroll{        
        width: 100%;        
    }
}