.category-item{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 220px;
}

.category-item-text{
    padding: 10px;
    color: black;
    font-weight: 400;
    width: 100%;
    height: 40px;
    background-color: #F7F5EE;
    
}