.category-item{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 220px;
    margin-bottom: 10%;
}

.category-item-text{
    position: absolute;
    bottom: 3%;
    left: 3%;
}