@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.ttf');
}

html{
    max-width: 2480px;
    margin: auto;
}

a:hover{
    color: inherit;

}

.hide-rate{
    visibility: hidden;
    position: absolute;
}

.show-more{
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background: linear-gradient(271.55deg, #FFEBEB -10.33%, #F8FFD9 98.99%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    border-radius: 36.5px;
    color: black;
    font-size: 20px; 
    font-weight: bold; 
    font-family: Montserrat-Regular; 
    text-align: center; 
    margin: auto; 
    cursor: pointer; 
    width: fit-content;
}

.important-text{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
}

.regular-text{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.route{
    font-family: "Montserrat-Regular";
    text-decoration: underline;
    font-size: 18px;
}

body{
    background-color: #FEFFFA;
}

.header{
    width: 100%;
    height: 112px;
    text-align: center;
    background-color: white;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    padding-right: 50px;
    z-index: -2;
}

.mobile-header{
    display: none;
}

.basket-count{
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 2px solid #FF6B6B;
    background-color: #FF6B6B;
    color: white;
    right: -10px;
    top: -10px;
    text-align: center;
}

a:hover{
    text-decoration: none;
}

.mobile-header-menu-icon{
    width: 30px;
    margin: auto;
    background-size: auto;

    transition: 0.5s;
}

.mobile-header-menu{
    position: absolute;
    width: 100%;
    height: 0%;
    background: rgba(255, 237, 237);
    display: none;
    top: 0;
    left: 0;
    z-index: 5;
    transition: 0.2s;
}

.mobile-header-menu-wrap{
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    padding-top: 10%;
}

.mobile-header-menu-a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
}

.mobile-header-menu-block{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.mobile-header-menu-text{

}

.my-wrap{
    width: 100%;
    padding-left: 13%;
    padding-right: 13%;
    margin: 182px auto;
    height: auto;
}

.mobile-header-balance{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
}

.hide-on-mobile{
    display: block;
}

.header-title, .header-element{
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.2em;
    color: #000000;
    text-align: center;
    padding-top: 39px;
}

.active-menu{
    font-weight: 700 !important;
    border-bottom: 1px solid black;
}

.footer-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.title-flower-left{
    position: absolute;
    width: 54px;
    height: 61px;
    left: -20px;
    top: -20px;
    z-index: -1;
}

.title-flower-right{
    position: absolute;
    width: 54px;
    height: 61px;
    right: -20px;
    top: -15px;
    transform: rotate(162.46deg);
    z-index: -1;
}

html{
    background-color: #FEFFFA;
}

.title-block{
    position: relative;
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}

.title-block-text{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 300;
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
}

.center{
    margin: 0 auto;
}

.left{
    margin: 0 auto;
}

.right{
    text-align: right;
}

.header-title{
    font-weight: bold;
    font-family: Montserrat-Bold;
}

.header-element{
    font-weight: normal;
    font-family: Montserrat-Regular;
}

.icons-block{
    padding-top: 29px;
}

.header-icon{
    width: 50px;
    height: 50px;
    margin-left: 26px;
    display: inline-block;
    background: #EEE9D7;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    position: relative;
    transition: 0.3s;
    margin-bottom: 0px;
}

.profile-icon{
    width: 50px;
    height: 50px;
    margin-left: 26px;
    display: inline-block;
    background: #EEE9D7;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: 0.3s;
}

.menu{
    height: 70px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(168, 168, 168, 0.5);
}

.menu-block{
    display: inline-block;
    vertical-align: top;
    width: 15%;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #000000;
    padding-top: 25px;
    height: 100%;
    transition: 0.3s;
}

.menu-block:hover{
    background-color: #EEE9D7;
    transition: 0.3s;
}

.submenu-text{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #000000;
}

.submenu-text:hover{
    color: #000000;
}

.center-menu{
    width: 100%;
    margin: auto;
    height: auto;
}

#login-icon:hover{
    width: 117px;
    border-radius: 30px;
    background-position-x: 80%;
    transition: 0.3s;
}

#login-icon:hover .logout-text{
    opacity: 1;
}

#profile-icon:hover .logout-text{
    opacity: 1;
}

#profile-icon:hover{
    width: 150px;
    border-radius: 30px;
    background-position-x: 80%;
    transition: 0.3s;
}

.logout-text{
    position: absolute;
    left: 20px;
    top: 10px;
    text-align: left;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.1;
}

.logout-text:hover{
    opacity: 1;
}

#search-icon:hover{
    width: 200px;
    border-radius: 30px;
    background-position-x: 90%;
    transition: 0.3s;
}

.search-input{
    position: absolute;
    left: 20px;
    top: 10px;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    width: 63%;
    opacity: 0;
    transition: 0.3s;
}

/* .search-input:hover{
    opacity: 1;
} */

.empty-text{
    font-weight: 400;
    font-family: Montserrat-Bold;
    margin: 100px auto;
    text-align: center;
}

.search-click-icon{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border: none;
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    background-image: url('../images/icons/search.svg');
    
}

.our-pluses-icon-block{
    background-color: #DDE7C8;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    background-size: 50%;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 36px;
}

.our-pluses-circle-1, .our-pluses-circle-2{
    position: absolute;
    width: 86px;
    height: 86px;
    background: #DDE7C8;
    border-radius: 50%;
}

.our-pluses-circle-1{
    bottom: 70px;
    right: 80px;
}

.our-pluses-circle-2{
    top: 0px;
    left: 75px;
}

.search-input:focus{
    outline: none;
}

#basket-icon:hover{
    width: 140px;
    border-radius: 30px;
    background-position-x: 80%;
    transition: 0.3s;
}

#basket-icon:hover .basket-text{
    opacity: 1;
}

.basket-text{
    position: absolute;
    left: 15px;
    top: 13px;
    text-align: center;
    width: 50%;
    height: 60%;
    opacity: 0;
    transition: 0.1s;
}

.basket-text:hover{
    opacity: 1;
}

#basket-icon, #search-icon, #login-icon{
    cursor: pointer;
}

.footer{
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: white;
    border-top: 1px solid #C4C4C4;
    position: relative;
}

.footer-element{
    margin-top: 34px;
    text-align: left;
}

.footer-inst{
    width: 36px;
    height: 36px;
    background-size: auto;
    cursor: pointer;
}

.footer-wrap{
    padding-left: 100px;
    padding-right: 100px;
}

.footer-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #000000;
    cursor: pointer;
}

.footer-element>a:hover{
    color: black;
    text-decoration: underline;
}

.menu-block a{
    color: black;
    text-decoration: none;
}

.under-footer-element{
    margin: 0;
    position: absolute;
    bottom:30px
}

.footer-payment{
    display: inline-block;
}

.footer-payment-image{
    background-size: auto;
    height: 68px;
}

.background-element{
    position: absolute;
}

.inline{
    display: inline-block;
}

.footer-row{
    height: 100%;
    position: relative;
}

.mgt-60{
    margin-top: 60px;
}

.mgt-10{
    margin-top: 10px;
}

.pic1{
    position: absolute;
    width: 400px;
    height: 700px;
    z-index: 0;
}

.pic2{
    position: absolute;
    width: 400.56px;
    height: 600px;
    z-index: 0;
}

.back-image{
    width: 100%;
    height: 100%;
}

.pic3{
    position: absolute;
    width: auto;
    height: 900px;
    left: 6.5%;
    right: 6.5%;
    top: -0px;
    z-index: 0;
}

.pic4{
    position: absolute;
    width: 206px;
    height: 322px;
    z-index: 0;
}

.pic5{
    position: absolute;
    width: 600px;
    height: 800px;
    z-index: 0;

}

.pic6{
    position: absolute;
    width: 300px;
    height: 500px;
    right: 0;
    z-index: 0;
}

.pic7{
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 0;
    left: 0;
}
.wrap-content{
    padding-left: 10%;
    padding-right: 10%;
}

.our-pluses-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 36px;
}

.category-title{
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.see-more{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    text-decoration-line: underline;
    text-transform: capitalize;
    margin-top: 30px;
}

.see-more a{
    color: black;
}
.see-more a:hover{
    color: gray;
}

.shares-block{
    width: 100%;
    height: 300px;
}

.shares-block-image{
    width: 50%;
    float: left;
    height: 100%;
    border-radius: 40px 0px 0px 40px;
    background-size: cover;
}

.shares-block-text-block{
    width: 50%;
    float: left;
    height: 100%;
    text-align: left;
    border-radius: 0px 40px 40px 0px;
}

.shares-block-text{
    margin-top: 50px;
    margin-left: 30px;
    width: 70%;
    height: auto;
}

.shares-block-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
}

.shares-block-text-block-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    margin-top: 10px;
}

.shares-block-button{
    background: linear-gradient(93.21deg, #F8FFD8 -4.87%, #FFEBEB 126.07%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 28px;
}

a{
    text-decoration: none;
    color: inherit;
}

.shares-wrap{
    width: 100%;
    padding-left: 13%;
    padding-right: 13%;
    margin: 182px auto;
    height: auto;
    position: relative;
    z-index: 5;
}

.about-us-block{
    text-align: left;
    width: 100%;
    height: 100%;
}

.about-us-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    margin-bottom: 74px;
}

.about-us-button{
    text-align: center;
    padding: 10px;
    font-size: 24px;
    width: 50%;
    background: linear-gradient(271.55deg, #FFEBEB -10.33%, #F8FFD9 98.99%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
    border-radius: 36.5px;
}

.about-us-inst{
    margin-left: auto;
    width: 48px;
    height: 48px;
    background-image: url('../images/icons/instagram.svg');
    background-size: cover;
}

.wow-slider-wrap{
    width: 75%;
    margin-left: auto;
    position: relative;
}

.wow-slider-background{
    position: absolute;
    width: 100%;
    height: 180%;
    top: -37%;
    left: 0%;
    z-index: 1;
}

.login-form{
    background: #F7DECA;
    width: 90%;
    margin: auto;
    height: 450px;
}

.login-form-left-block{
    width: 50%;
    float: left;
    height: 100%;
    text-align: left;
    padding: 60px;
}

.login-form-right-block{
    width: 50%;
    float: left;
    height: 100%;
    background-image: url("../images/talking.jpg");
    background-size: cover;
}

.login-form-input-email{
    border: none;
    padding-left: 30px;
    width: 100%;
    height: 39px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
    outline: none;
    margin-top: 30px;
}

.login-form-input-phone{
    border: none;
    padding-left: 30px;
    width: 60%;
    height: 39px;
    float: left;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
    outline: none;
}

.login-form-button{
    float: right;
    margin-left: auto;
    color: black;
    /* padding-left: 15px; */
    background: linear-gradient(93.88deg, #F8FED9 1.41%, #F5C4C4 147.98%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 6px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    line-height: 22px;
    
}
.login-form-button:focus{
    outline: none;
}

.login-form-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: black;
}

.login-form-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 20px;
    font-size: 13px;
    color: #0D0D0D;
    margin-top: 20px;
}

.show-on-mobile{
    display: none;
}

@media (max-width: 900px){
    .mobile-none{
        display: none;
    }

    .wrap-content{
        padding-left: 3%;
        padding-right: 3%;
    }

    .route{
        font-size: 16px;
    }

    .footer-wrap{
        padding-left: 15%;
        padding-right: 15%;
    }
    .footer{
        height: 360px;
        border-top: 0.5px solid black;
    }
    .footer-row{
        height: auto;
    }
    .under-footer-element{
        position: inherit;
        margin-top: 60px;

    }
    .footer-element{
        text-align: center;
        margin-top: 15px;
    }
    .footer-payment-image{
        width: 100%;
    }
    .footer-payment{
        width: 35%;
        display: inline-block;
        margin-right: 5%;
        margin-left: 5%;
    }
    .hide-on-mobile{
        display: none;
    }
    .header-title{
        font-size: 12px;
    }
    .footer-element{
        font-size: 13px;
    }
    .footer-text{
        font-size: 13px;
    }

    .mobile-header{
        width: 100%;
        height: 100px;
        display: block;
        padding-top: 46px;
    }
    .mobile-header-right-icon{
        position: absolute;
        width: 27px;
        height: 27px;
        background-size: cover;
        margin: auto;
        border: none;
    }
    .my-wrap{
        margin-top: 0px;
        margin-bottom: 20px;
        height: auto;
        padding: 0px;
    }

    .our-pluses-icon-block{
        width: 120px;
        height: 120px;
        margin-bottom: 11px;
    }

    .our-pluses-circle-1{
        bottom: 75px;
        right: 30px;
        width: 45px;
        height: 45px;
    }
    
    .our-pluses-circle-2{
        top: unset;
        left: unset;
        bottom: 75px;
        right: 30px;
        width: 45px;
        height: 45px;
    }
    .our-pluses-icon-wrap{
        margin-top: 30px;
    }

    .our-pluses-text{
        font-size: 12px;
        line-height: 15px;
    }
    .shares-wrap{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 60px auto;
        height: auto;
    }
    .shares-block{
        height: 147px;
        margin-bottom: 20px;
    }
    .shares-block-text{
        margin-top: 15px;
        margin-left: 15px;
        width: 90%;
        height: auto;
    }
    .shares-block-title{
        font-size: 17px;
        line-height: 22px;
    }
    
    .shares-block-text-block-text{
        font-size: 10px;
        line-height: 12px;
    }

    .wow-slider-mobile{
        margin-top: 50px;
        padding: 0px;
    }
    .wow-slider-wrap{
        width: 100%;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    }
    .category-title{
        font-size: 18px;
    }
    .about-us-text{
        font-size: 13px;
        margin-bottom: 30px;
    }
    .about-us-inst{
        width: 36px;
        height: 36px;
    }
    .about-us-button{
        font-size: 14px;
        width: 70%;
        padding: 5px;
    }

    .login-form{
        width: 100%;
        
    }

    .login-form-left-block{
        width: 100%;
        float: none;
        padding-top: 30px;
    }

    .login-form-input-phone{
        width: 100%;
    }

    .login-form-button{
        float: none;
        margin: 20px auto;
        width: 60%;
    }

    .show-on-mobile{
        display: block;
    }
}
