@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.ttf');
}

.important-text{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.regular-text{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.route{
    font-weight: bold;
    text-decoration: underline;
}

body{
    background-color: #FEFFFA;
}

.header{
    width: 100%;
    height: 112px;
    text-align: center;
    background-color: white;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    padding-right: 50px;
    z-index: -2;
}

.mobile-header{
    display: none;
}

.basket-count{
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 2px solid #FF6B6B;
    background-color: #FF6B6B;
    color: white;
    right: -10px;
    top: -10px;
    text-align: center;
}

a:hover{
    text-decoration: none;
}

.mobile-header-menu-icon{
    width: 30px;
    margin: auto;
    background-size: auto;

    transition: 0.5s;
}

.mobile-header-menu{
    position: absolute;
    width: 100%;
    height: 0%;
    background: rgba(211, 211, 211);
    display: none;
    top: 0;
    left: 0;
    z-index: 5;
    transition: 0.2s;
}

.mobile-header-menu-wrap{
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    padding-top: 25%;
}

.mobile-header-menu-a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
}

.mobile-header-menu-block{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.mobile-header-menu-text{

}

.wrap{
    width: 100%;
    padding-left: 18%;
    padding-right: 18%;
    margin: 100px auto;
    height: auto;
}

.mobile-header-balance{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
}

.hide-on-mobile{
    display: block;
}

.header-title, .header-element{
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.2em;
    color: #000000;
    text-align: center;
    padding-top: 39px;
}

.footer-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.title-flower-left{
    position: absolute;
    width: 54px;
    height: 61px;
    left: -20px;
    top: -20px;
    z-index: -1;
}

.title-flower-right{
    position: absolute;
    width: 54px;
    height: 61px;
    right: -20px;
    top: -15px;
    transform: rotate(162.46deg);
    z-index: -1;
}

html{
    background-color: #FEFFFA;
}

.center{
    margin: 0 auto;
}

.right{
    text-align: right;
}

.header-title{
    font-weight: bold;
    font-family: Montserrat-Bold;
}

.header-element{
    font-weight: normal;
    font-family: Montserrat-Regular;
}

.icons-block{
    padding-top: 29px;
}

.header-icon{
    width: 50px;
    height: 50px;
    margin-left: 26px;
    display: inline-block;
    background: #EEE9D7;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    position: relative;
    transition: 0.3s;
}

.menu{
    height: 70px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(168, 168, 168, 0.5);
}

.menu-block{
    display: inline-block;
    width: 15%;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #000000;
    padding-top: 20px;
    height: 100%;
}

.menu-block:hover{
    background-color: #EEE9D7;
}

.submenu-text{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #000000;
}

.submenu-text:hover{
    color: #000000;
}

.center-menu{
    width: 100%;
    margin: auto;
    height: auto;
}

#login-icon:hover{
    width: 117px;
    border-radius: 30px;
    background-position-x: 80%;
    transition: 0.3s;
}


.logout-text{
    position: absolute;
    left: 20px;
    top: 10px;
    text-align: left;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.logout-text:hover{
    opacity: 1;
}

#search-icon:hover{
    width: 200px;
    border-radius: 30px;
    background-position-x: 90%;
    transition: 0.3s;
}

.search-input{
    position: absolute;
    left: 20px;
    top: 10px;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    width: 63%;
    opacity: 0;
    transition: 0.3s;
}

/* .search-input:hover{
    opacity: 1;
} */

.our-pluses-icon-block{
    background-color: #DDE7C8;
    border-radius: 50%;
    width: 50%;
    background-size: 75%;
    background-position: center;
}

.search-input:focus{
    outline: none;
}

#basket-icon:hover{
    width: 140px;
    border-radius: 30px;
    background-position-x: 80%;
    transition: 0.3s;
}

.basket-text{
    position: absolute;
    left: 15px;
    top: 13px;
    text-align: left;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.basket-text:hover{
    opacity: 1;
}

#basket-icon, #search-icon, #login-icon{
    cursor: pointer;
}

.footer{
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: white;
    border-top: 1px solid #C4C4C4;
}

.footer-element{
    margin-top: 34px;
    text-align: left;
}

.footer-inst{
    width: 36px;
    height: 36px;
    background-size: auto;
    cursor: pointer;
}

.footer-wrap{
    padding-left: 100px;
    padding-right: 100px;
}

.footer-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #000000;
    cursor: pointer;
}

.footer-element>a:hover{
    color: #EEE9D7;
    text-decoration: none;
}

.menu-block a{
    color: black;
    text-decoration: none;
}

.under-footer-element{
    margin: 0px;
    position: absolute;
    bottom:30px
}

.footer-payment{
    display: inline-block;
}

.footer-payment-image{
    background-size: auto;
    height: 68px;
}

.background-element{
    position: absolute;
}

.inline{
    display: inline-block;
}

.footer-row{
    height: 100%;
    position: relative;
}

.mgt-60{
    margin-top: 60px;
}

.mgt-10{
    margin-top: 10px;
}

.pic1{
    position: absolute;
    width: 443.18px;
    height: 669.96px;
    left: 0;
    top: 1vh;
}

.pic2{
    position: absolute;
    width: 412.56px;
    height: 367.85px;
    right: -90px;
    top: 2vh;
}

.pic3{
    position: absolute;
    width: auto;
    height: 900px;
    left: 6.5%;
    right: 6.5%;
    top: -0px;
    z-index: -1;
}

.pic4{
    position: absolute;
    width: 206px;
    height: 322px;
    left: 0;
    top: 110vh;
}

.pic5{
    position: absolute;
    width: 539.74px;
    height: 772.33px;
    right: -90px;
    top: 70vh;
}

.wrap-content{
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 900px){
    .mobile-none{
        display: none;
    }

    .wrap-content{
        padding-left: 3%;
        padding-right: 3%;
    }

    .footer-wrap{
        padding-left: 15%;
        padding-right: 15%;
    }
    .footer{
        height: 360px;
        border-top: 0.5px solid black;
    }
    .footer-row{
        height: auto;
    }
    .under-footer-element{
        position: inherit;
        margin-top: 60px;

    }
    .footer-element{
        text-align: center;
        margin-top: 15px;
    }
    .footer-payment-image{
        width: 100%;
    }
    .footer-payment{
        width: 35%;
        display: inline-block;
        margin-right: 5%;
        margin-left: 5%;
    }
    .hide-on-mobile{
        display: none;
    }
    .header-title{
        font-size: 14px;
    }
    .footer-element{
        font-size: 13px;
    }
    .footer-text{
        font-size: 13px;
    }

    .mobile-header{
        width: 100%;
        height: 100px;
        display: block;
        padding-top: 46px;
    }
    .mobile-header-right-icon{
        position: absolute;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        background-size: auto;
        background: #C4C4C4;
        margin: auto;
    }
    .wrap{
        margin-top: 0px;
        margin-bottom: 20px;
        height: auto;
        padding: 0px;
    }
}
